.main {
    position: relative;
    top:13em
}

.main button{
    background-color: #d61828;
    height: 3em;
    width: 12em;
    color: white;
    border-radius: 2em;
    border: solid #d61828 1px;
    cursor: pointer;
}

.table {
    border: solid black 1px;
    margin: 1em;
}